---
import Layout from "../components/Layout.astro";
---

<Layout title="About">
  <h1>About</h1>

  <p class="attn"><strong>high/low</strong> is a tool to help you get to know your friends, family, and would-be friends better. The idea is to provide simple conversation prompts to help start deep, meaningful conversations and connections.</p>

  <p>This project is open-source, meaning you are welcome to add your own prompts if you know how to write a tiny bit of code. The repo is on github.</p>

  <p>I hope you enjoy this tool and I hope it leads to deeper, more meaningful relationships for you and your circle.</p>

  <p>✌️</p>
</Layout>
