---
import Layout from "../components/Layout.astro";
import { rootPath } from "../constants";
---

<Layout isHome={true}>
  <p class="text-center">
    Welcome to high/low, a tool to help you get to know your friends better!
  </p>
  <p class="text-center">
    <a href={`${rootPath}prompt/random`} role="button"
      >Start a conversation...</a
    >
  </p>
</Layout>
