---
interface Props {
  title?: string;
  isHome?: boolean;
}

import Header from "./Header.astro";
import Footer from "./Footer.astro";

import "../style/style.scss";
import { rootPath, siteTitle } from "../constants";
import CardHeader from "./CardHeader.astro";
import CommonHead from "./CommonHead.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title={title} />
  </head>

  <body>
    <div class="card-layout">
      <CardHeader />
      <main class="main-card">
        <slot />
      </main>
      <footer>
        <p class="text-center"><a href={rootPath}>Home</a></p>
        <p class="text-center text-muted">
          <small>
            Made with 😂 by <a
              href="https://andrewmeyer.co"
              target="_blank"
              rel="noopener">Rewdy</a
            >.
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>

<style>
  .card-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .main-card {
    flex-grow: 1;
    margin: 1rem;
  }
  .main-card article {
    height: 100%;
  }
</style>
