---
interface Props {
  title?: string;
  isHome?: boolean;
}

import Header from "./Header.astro";
import Footer from "./Footer.astro";

import "../style/style.scss";
import { siteTitle } from "../constants";
import CommonHead from "./CommonHead.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title={title} />
  </head>

  <body>
    <Header />
    {
      Astro.slots.has("hero") && (
        <div class="hero">
          <div class="container">
            <slot name="hero" />
          </div>
        </div>
      )
    }
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
